@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Open+Sans:wght@500&display=swap');



* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Open Sans, sans-serif;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.5;
     color: #3a3a3a; 
     margin-left: 10%;
     margin-right: 10%;

}

/* heading and nav */

#header {
    flex-basis: 1;
    flex-grow: 1;
    max-width: 100%;
   }
    


#logo {font-family: Lato, sans-serif;
    letter-spacing: 4px;
    color: #252525;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
    
    }
#logo-p {
    font-family: Open Sans, sans-serif;
    font-weight: 300;
    font-size: 1rem;
    letter-spacing: normal;
    margin-left: 70px;
    

}

#nav {
    font-size: 110%;
    float: right; 
}

#nav li {
    float: right;
    list-style-type: none;
    margin-right: 20px;
    margin-top: 20px;
}

#header #nav {
    line-height: 75px;
}

/*#nav > ul {
    list-style-type: none;  
    display: inline;
    text-decoration: none;
    list-style-type: none;
} */

#nav a {
    
    text-decoration: none;
    color: inherit;
}

#nav a:hover {
    border-bottom: 1px solid #3a3a3a;
}
.active {
    border-bottom: 1px solid #3a3a3a ;
}

#hr {
    position: relative;
    left: 20px;
    top: 110px;
    border-top: 1px solid #3a3a3a;
}
